:root{
    --color-primary: #ff7b02;
    /* =========Green theme========= */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1:#000c17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light:#85a2b2;
    --color-

}